body,
html {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.left {
  background-image: url(./images/coverPhoto.avif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.right {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* background-color: gray; */
}

form {
  height: 60%;
  background-color: rgb(240, 240, 237);
  border-radius: 20px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.banner {
  font-family: 'Monoton', cursive;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
  height: 100px;
  width: 35vw;
  color: wheat;
  font-size: xx-large;
  background-color: rgba(214, 191, 240, 0.082);
}


input{
  outline: none;
}
input:focus {
  box-shadow: 2px 1px 2px gray;
}

input:valid:focus {
  border: solid rgb(132, 196, 36) 2px;
}

input:not(:focus):invalid {
  border: solid rgb(255, 0, 0) 2px;
}
.eachSection{
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}
.eachSection>div{
  padding: 1% 2%;
}

.credit{
  padding-bottom:30px ;
  font-size:x-small;
  color:white;
}
a{
  color: inherit;
}

.btn{
  padding: 20px;
  margin:50px;
  background-color: rgb(179, 179, 12);
  border-radius: 10px;
}